
html { overflow-x: hidden; }

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 2em;
    overflow-x: hidden;
}

p, span { color: #999; }
hr { 
    border-top-color: #CCC; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control::-webkit-input-placeholder { color: #999; }  
.form-control:-ms-input-placeholder { color: #999; }  
.form-control::placeholder { color: #999; }

.tm-header {
    background-image: linear-gradient(180deg, #45ad98 50%, #00604d 100%);
    background-size: cover;
    color: white;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 400px;
    overflow-y: visible;     
}

.tm-header-wrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 30px;
    width: 100%;
    height: 100%; 
}

.tm-header-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tm-site-header {
    margin-top: 50px;
    margin-bottom: 115px;
}

.tm-site-logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: white;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.tm-site-logo i { color: #0CC; }

.tm-main {
    margin-left: 400px;
    padding: 80px 100px 25px;
}

.tm-post { max-width: 470px; }

.post-img {
    position: relative;
    display: block;
    max-width: 100%;
}

.tm-row {
    max-width: 980px;
    justify-content: space-between;
}

.tm-nav { margin-bottom: 100px; }

.tm-nav-item {
    list-style: none;
    margin-bottom: 30px;
}

.tm-nav-link {
    color: white;
    background-color: transparent;
    height: 75px;
    width: 100%;
    max-width: 300px;    
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 30px;
    transition: all 0.3s;
    border-radius: 5px;
}

.tm-nav-item:hover .tm-nav-link,
.tm-nav-item.active .tm-nav-link
 {
    color: #64c3ae;
    background-color: white;
    text-decoration: none;
}

.tm-nav ul { position: relative; }

.tm-nav-item:hover:after,
.tm-nav-item.active:after {
    content: '';
    width: 100%;
    max-width: 300px;    
    height: 75px;
    display: block;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: -65px;
    position: absolute;
    z-index: -1000;
    border-radius: 5px;
}

.tm-nav-link i { margin-right: 37px; }

ul { 
    margin: 0; 
    padding: 0;
}

.tm-nav { margin-left: -30px; }

.tm-social-link {
    display: inline-block;
    background-color: white;    
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
}

.tm-share-link {
    display: inline-block; 
    border: none;
    border-radius: 30px;  
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 8px; 
    margin-right: 15px;   
    margin-bottom: 15px;
    background-color: #64c3ae;
}

.tm-social-icon { 
    color: #64c3ae;    
    transition: all 0.3s ease;
}

.tm-share-icon { 
    color: #fff;
    transition: all 0.3s ease;
}

.tm-share-link:hover .tm-share-icon.fa-facebook-f { 
    color: #3b5998; 
}
.tm-share-link:hover .tm-share-icon.fa-twitter { 
    color: #00acee; 
}

.tm-social-link:hover .tm-social-icon.fa-facebook { color: #3b5998; }
.tm-social-link:hover .tm-social-icon.fa-twitter { color: #00acee; }
.tm-social-link:hover .tm-social-icon.fa-instagram { color: #3f729b; }
.tm-social-link:hover .tm-social-icon.fa-linkedin { color: #0e76a8; }
.navbar-toggler { display: none; }

.tm-search-form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-inline .form-control.tm-search-input {
    display: block;
    height: 60px;   
    width: 480px;
    margin-right: 30px;
    border-radius: 5px;
    border-color: #68c7b1;
    font-size: 1.2rem;
}

.tm-search-button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #45ad98;
    transition: all 0.3s ease;
}

.tm-search-button:hover { background-color: #64c3aeb9; }

.tm-search-icon {
    color: white;
    font-size: 1.3rem;
}

.tm-post-link {
    display: block;
    position: relative;
	cursor: pointer;
}

.tm-post-link-inner {
    overflow: hidden;
    background: #3085a3;
    border-radius: 5px;
}

.tm-post-link img {
    position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.effect-lily img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

.effect-lily:hover img { opacity: 1; }

.effect-lily:hover img {
    -webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.tm-post { margin-bottom: 75px; }

.tm-new-badge {
    top: 45px;
    right: 20px;
    background-color: rgb(228, 213, 128);
    color: white;
    padding: 5px 20px;
    box-shadow: -8px 8px 10px 0 rgba(58, 59, 69, 0.4);
    border-radius: 3px;
}

.tm-post-title {
    font-size: 1.7rem;
    transition: all 0.3s ease;
}

.tm-h3 {
    font-size: 1.3rem;
    color: #999;
}

.tm-post-link:hover .tm-post-title { color: #64c3aeb2; }

.tm-btn {
    display: inline-block;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}

.tm-btn-primary {    
    background-color: #64c3ae;
    color: white;  
    padding: 8px 43px;
    border: none;
}

.tm-btn-small { padding: 8px 33px; }

.tm-btn-primary:hover {
    background-color: #64c3aeb0;
    color: white;
}

.tm-paging-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.tm-paging-nav ul li:last-child { margin-right: 0; }

.tm-paging-link {
    background-color: #F0F0F0;
    color: #999;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.tm-paging-item .tm-paging-link:hover,
.tm-paging-item.active .tm-paging-link {
    background-color: #0CC;
    color: white;
}

.tm-btn.disabled {
    background-color: #F0F0F0;
    color: #999;
    cursor: not-allowed;
}

.tm-external-link { color: #0CC; }
.tm-external-link:hover { color: #09b6b6; }

.tm-paging-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tm-prev-next-wrapper,
.tm-paging-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.tm-copyright { text-align: right; }

/* Single Post page */
hr.tm-hr-primary { border-top: 5px solid #64c3ae; }

video {
    width: 100%;
    height: auto;
}

.tm-comment {
    display: flex;
    align-items: flex-start;
}

.tm-comment-figure {
    margin-top: 10px;
    margin-right: 30px;
}

.tm-comment-reply { padding-left: 37px; }

.form-control {
    height: 45px;
    border-color: #0CC;
    border-radius: 0;
}

.tm-comment-form { max-width: 100%; }
.tm-category-list { list-style-type: none; }
figure { margin: 0; }
figcaption { line-height: 1.4; }

.tm-post-full { max-width: 600px; }

.tm-post-sidebar {
    max-width: 280px;
    margin-left: auto;
    margin-right: 0;
}
.tm-post-list {
    max-width: 150px;
    margin-right: auto;
    display: flex;
}

.tm-pt-20 { padding-top: 20px; }
.tm-pt-30 { padding-top: 30px; }
.tm-pt-45 { padding-top: 45px; }
.tm-pt-60 { padding-top: 60px; }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-45 { margin-bottom: 45px; }
.tm-mb-55 { margin-bottom: 55px; }
.tm-mb-60 { margin-bottom: 60px; }
.tm-mb-65 { margin-bottom: 65px; }
.tm-mb-75 { margin-bottom: 75px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-mb-120 { margin-bottom: 120px; }
.tm-mt-40 { margin-top: 40px; }
.tm-mt-100 { margin-top: 100px; }
.tm-mr-20 { margin-right: 20px; }
.tm-color-primary, span.tm-color-primary { color: #64c3ae; }
a.tm-color-gray, .tm-color-gray { color: #999; }
a.tm-color-gray:hover { color: #64c3aebe; }
.tm-bg-gray { background-color: #F3F4F5; }
button:focus { outline: none; }
a {
    color: #45ad98b7;
}
a:hover { 
    text-decoration: none; 
    color: #55c0ab;
}

a:hover figcaption { color: #056767; }
.img-thumbnail { 
    max-width: 6.8rem; 
    max-height: 6.8rem; 
    min-width: 6.8rem; 
    min-height: 6.8rem; 
}
a.tm-color-primary.ml-custom {
    margin-left: 1.5rem;
}
.tm-about-pad { padding: 40px 35px; }
.tm-person { max-width: 430px; }
.tm-line-height-short { line-height: 1.8; }

.custom-size {
    font-size:15px;
}

.sum-size {
    border-radius: 100%;
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    background-color: #64c3aead;
    border-color: #64c3aef3;
    margin-top: 0.5rem;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:477px;
    width:100%;
}

.tm-social-links li { 
    list-style: none; 
    display: inline-block;
}

.tm-social-links li a {
    display: block;
    color: white;
    background-color: #0CC;
    width: 45px;
    height: 45px;    
    margin-right: 15px;    
}

.tm-social-links li a i { transition: all 0.3s ease; }
.tm-social-links li a:hover i.fa-facebook { color: #3b5998; }
.tm-social-links li a:hover i.fa-twitter { color: #00acee; }
.tm-social-links li a:hover i.fa-youtube { color: #c4302b; }
.tm-social-links li a:hover i.fa-instagram { color: #3f729b; }

.tm-contact-right { padding-left: 55px; }
.tm-contact-form { max-width: 488px; }

.tm-contact-form input,
.tm-contact-form textarea {
    max-width: 360px;
}

.tm-contact-form label { font-size: 1.4rem; }
.tm-contact-form .form-group { display: flex; }

@media (max-width: 1540px) {
    .tm-header { width: 320px; }

    .tm-main {
        margin-left: 320px;
        width: calc(100% - 320px);
    }
}

@media (max-width: 1300px) {
    .tm-about-col {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media (max-width: 1288px) {
    .tm-social-link { margin-right: 10px; }
}

@media (max-width: 1199px) {
    .tm-post-sidebar { max-width: 440px; }
    .form-inline .form-control.tm-search-input { width: 420px; }
}

@media (max-width: 1086px) {
    .form-inline .form-control.tm-search-input {
        width: 80%;
        margin-right: 15px;
    }
}

/* Hide sidebar */
@media (max-width: 991px) {
    .tm-header {
        width: 320px;
        left: -320px;        
        transition: all 0.3s ease;
    }

    .tm-header.show { left: 0; }
    .tm-header-wrapper { padding: 15px; }

    .navbar-toggler {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(56, 204, 204, 0.75);
        color: white;
        padding: 10px 15px;
        transition: all 0.3s ease;
        border-radius: 0;
        top: 5px;
    }

    .tm-header.show .navbar-toggler { left: 320px; }

    .tm-main {
        margin-left: 0;
        padding: 50px 40px;
        width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }

    .tm-person-col { width: 50%; }
    .tm-person { flex-direction: row; }

    .tm-contact-left {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .tm-contact-right {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .tm-post-full { max-width: none; }
}

@media (max-width: 767px) {
    .form-inline .form-control.tm-search-input {
        width: 70%;
        max-width: 375px;
        margin-right: 15px;
    }

    .tm-search-form { justify-content: flex-start; }
    .tm-main { padding: 60px 10px; }

    .tm-prev-next-wrapper,
    .tm-paging-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-paging-wrapper { 
        margin-top: 50px; 
        justify-content: flex-start;
    }

    .tm-copyright { text-align: left; }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .tm-person-col,
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }

    .tm-post-col,
    .tm-aside-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-post-sidebar {
        margin-left: 0;
        margin-right: auto;
    }
}

@media (max-width: 709px) {
    .tm-person-col { width: 100%; }
}

@media (max-width: 991px) and (min-width: 826px) {
    .tm-about-col {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .tm-person { flex-direction: row; }
}

@media (max-width: 630px) {
    .tm-contact-left,
    .tm-contact-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tm-contact-right { padding-left: 15px; }
}

@media (max-width: 575px) {
    .tm-contact-form input, 
    .tm-contact-form textarea {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .tm-person-col { width: 100%; }
    .tm-person { flex-direction: row; }
}

@media (max-width: 380px) {
    .tm-person img { max-width: 120px; }
}
/* --------------- */

.btn-success {
    color: #fff;
    background-color: #00604d9d;
    border: none
}

.btn-success:hover {
    color: #fff;
    background-color: #147a66;
    border: none;
}

.btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(50, 165, 125, 0.5);
}

.card-bio {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 60rem;
    padding: 1.2rem;
    background-color: transparent;
    border: 4px solid #64c3ae;
    align-items: center;
    border-radius: .5rem;
}
.card-bio__text {
    font-size: 1.2rem;
}

.card-bio__info {
    transform: translateX(-2rem);
}

.card-bio__img {
    min-width: 240px;
    max-width: 240px;
    height: 315px;
    transform: translateX(-4rem);
    position: relative;
}

.card-bio__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
    z-index: 0;
}

.card-bio__img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(69, 173, 152, 0.18), rgba(3, 99, 80, 0.6));
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0, .5);
    border-radius: .8rem;
}

.card-bio__date span{
    display: block;
    color: #64c3ae;
    font-size: 1rem;
    margin: .5rem 0;
    line-height: 0.75rem;
    text-align: end;
}

.card-bio__title{
    font-size: 1.8rem;
    margin: 1rem 0 0 1.5rem;
    color: #629d91;
    font-weight: 300;
}

.card-bio__cta{
    display: inline-block;
    padding: 0.1rem 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: all .3s;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}

@media screen and (max-width: 987px) {
    .card-bio {
        padding: 2.5rem;
        flex-direction: column;
    }

    .card-bio__info {
        transform: translateX(0);
    }

    .card-bio__img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -5rem);
    }

    .card-bio__title {
        margin: 1rem 0 0 0rem;
        text-align: center;
    }
}

/* ---------- CV ---------- */
.cv-card-bio__location span { 
    color: #629d91; 
    font-weight: 500;
}
.cv-card-bio__location {
    font-size: 0.7rem;
    transform: translateY(-4.5rem);
    width: 78%;
    line-height: 1.3rem;
}

.hr-custom {
    position: relative;
    transform: translateY(9rem);
}

.cv-container{
    box-shadow: .5rem .5rem 1rem 1px rgba(0,0,0, .5);
    border-radius: .3rem;
    margin-bottom: 2.5rem;
}

.cv-card-bio {
    display: flex;
    width: 100%;
    max-width: 45rem;
    padding: 0 1.2rem 0 1.2rem;
    background-image: linear-gradient(270deg, #ffffff 75%, #e2e3e7 50%);
    border: none;
    align-items: center;
}

.cv-card-bio__img-logo img{
border-radius: 50%;
max-width: 40px;
margin-right: 5px;
}
.cv-card-bio__icon {
    display: flex;
    flex-direction: row;
}

.cv-card-bio__icon span{
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.cv-card-bio__img {
    min-width: 144px;
    max-width: 144px;
    height: auto;
    position: relative;
}

.cv-card-bio__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    z-index: 0;
    margin-bottom: 1.4rem;
    margin-top: 1.2rem;

}
.cv-card-bio__contact {
    min-width: 144px;
    max-width: 144px;
    height: 30.6rem;
    position: relative;
}

.cv-card-bio__contact-list {
    font-size: 0.7rem;
}
.cv-card-bio .cv-card-bio__contact .cv-card-bio__text .contact-list .cv-card-bio__contact-list i {
    padding: 7px;
    margin-left: 10px;

}
.cv-card-bio__study {
    margin-left: 4.2rem;
    margin-right: 4rem;
}
.cv-card-bio__study-training {

    display: flex;
}


.cv-card-bio__date span{
    display: block;
    color: #629d91;
    font-size: 1.8rem;
    font-weight: 300;
    margin: .5rem 0 2rem;
    line-height: 0.75rem;
    text-align: start;
}


.cv-card-bio__title{
    font-size: 1.8rem;
    
    color: #629d91;
    font-weight: 300;
}
.cv-card-bio__title-about {
    font-size: 1.8rem;
    
    color: #629d91;
    font-weight: 300;
    padding-left: 52px;
    padding-right: 39px;


}

.cv-card-bio__text-about{
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.53);
    text-align: justify;
    line-height: 1.5rem;
    
    
}
.cv-card-bio__text{
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 0.7rem;
    color: #629d91;
    text-align: justify;
    line-height: 1.5rem;
    list-style: none;
}

.cv-card-bio__text-study{
    
    margin-top: 1rem;
    
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.53);
    text-align: justify;
    line-height: 1.5rem;
    list-style: none;
}

.cv-card-bio__cta{
    display: inline-block;
    padding: 0.1rem 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: all .3s;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}

@media screen and (max-width: 987px) {
    .cv-card-bio {
        padding: 2.5rem;
        flex-direction: column;
    }
    
    .cv-card-bio__contact {
        height: 0;
    }
    .cv-card-bio__text-container {
        flex-direction: column;
    }
    .cv-card-bio__info {
        transform: translateX(0);
    }

    .cv-card-bio__img {
        min-width: 50%;
        max-width: 50%;
        transform: translate(0, 1rem);
    }

    .cv-card-bio__title {
        margin: 1rem 0 0 0rem;
        text-align: center;
    }
}

/* profile */


.cv-card-bio-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 45rem;
    padding: 0 1.2rem 0 1.2rem;
    background-image: linear-gradient(270deg, #ffffff 75%, #e2e3e7 50%);
    border: none;
    align-items: center;
}

.cv-card-bio__info-profile {
    transform: translateX(-2.7rem);
}

.cv-card-bio__img-profile {
    min-width: 144px;
    max-width: 144px;
    height: auto;
    position: relative;
}

.cv-card-bio__img-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    z-index: 0;
}



.cv-card-bio__date-profile span{
    display: block;
    color: #64c3ae;
    font-size: 1rem;
    margin: .5rem 0;
    line-height: 0.75rem;
    text-align: end;
}

.cv-card-bio__title-profile{
    font-size: 2.1rem;
    margin-top: 2rem;
    color: #626262;
    font-weight: 200;

}

.cv-card-bio__job {
    color: #629d91;
    font-size: 1rem;
    text-align: start;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.cv-card-bio__text-container {
    display: flex;
}
.cv-card-bio__text-profile a{
    margin-bottom: 2.5rem;
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.53);
    line-height: 0.5rem;
    padding-right: 5px;
    margin-right: 20px;

}


.cv-card-bio__cta-profile{
    display: inline-block;
    padding: 0.1rem 1rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: all .3s;
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
}

@media screen and (max-width: 1200px) {
    .cv-card-bio-profile {
        padding: 2.5rem;
        flex-direction: column;
    }

    .cv-card-bio__text {
        display: none;
    }
    .cv-card-bio__location {
        display: none;
    }
    .cv-card-bio__contact {
        display: none;
    }
    .cv-card-bio__job {
        text-align: center;
    }

    .cv-card-bio__study {
        margin-left: 3.2rem;
        margin-right: 2rem;

    }

    .cv-card-bio__info-profile {
        transform: translateX(0);
    }

    .cv-card-bio__img-profile {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -5rem);
    }
    
    .cv-card-bio__title-about {
        padding-left: 17px;
        padding-right: 25px;        
    }
    .cv-card-bio__title-profile {
        margin: 1rem 0 0 0rem;
        text-align: center;
    }
}

@media screen and (max-width: 540px) {
    .cv-card-bio__icon {
    display: block;
    }
}

@media screen and (max-width: 650px) {
    .cv-card-bio__text-container {
        display: block;
    }
}

@media screen and (max-width: 365px) {
    .cv-card-bio__title-about {
        font-size: 1.4rem;
    }

    .cv-card-bio__title {
        font-size: 1.4rem;
        margin: 0;
    }

    .cv-card-bio {
        padding: 0;
    }

    .cv-card-bio__study {
        margin-left: 1.2rem;
        margin-right: 1.4rem;
    }

    .cv-card-bio-profile {
        padding: 0rem;
    }

    .card-bio__title {
        font-size: 1.1rem;
    }

    .card-bio__img {
        height: auto;
        transform: translate(0, -2.5rem);
    }

    .card-bio {
        padding: 1.5rem;
    }

    .card-bio__date span {
        font-size: 0.8rem;
    }

    .card-bio__text {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }

    .card-bio__cta {
        padding: 0rem 0.5rem;
        
    }
}