.whatsapp{
    display: none;
    color: #1DC143;
  }
  
  .whatsapp:hover, .whatsapp:focus{
    background: #1DC143;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
  }
  
  .whatsapp.activeWhatsapp{
    display: inline-block;
  }